@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbarBg: #111e27;
  --mainDarkBg: #111e27;
  --mainLightBg: #f0e7db;
  --lightTextMode: #111e27;
  --btnBg: #ffce45;
  --openSans: "Open Sans", sans-serif;
}

.logo-font {
  font-family: "Lobster", cursive;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #6c6c6f;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #111e27;
}

@layer base {
  .openSans {
    font-family: var(--openSans);
    font-display: swap;
  }
  .mainDarkBg {
    background-color: var(--mainDarkBg);
  }
  .mainLightBg {
    background-color: var(--mainLightBg);
  }
  .navbarBg {
    background-color: var(--navbarBg);
  }
  .btnBg {
    background-color: var(--btnBg);
  }
  .lightTextMode {
    color: var(--lightTextMode);
  }
}

@media screen and (max-width: 640px) {
  .timeline-item:nth-child(odd) {
    align-self: flex-start;
  }
}
@media screen and (min-width: 641px) {
  .timeline-item:nth-child(odd) {
    align-self: flex-end;
  }
}
